DEBUG=True
SECRET_KEY=django-insecure-cambia-esto-en-produccion-usa-una-clave-larga-y-random
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos MySQL
DB_NAME=inmuebles_db
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_HOST=localhost
DB_PORT=3306

# Email (para notificaciones de contacto)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
